########################################
# Пример локального .env для прототипа #
########################################

# Логическое окружение запуска (local/dev/prod и т.п.)
# По умолчанию: local
APP_ENV=dev

# Максимальное количество тиков за один запуск демо-конвейера.
# По умолчанию: 10
MAX_TICKS=100

STATE_SNAPSHOT_INTERVAL_TICKS=50

# Пауза между тиками в секундах.
# По умолчанию: 0.2
TICK_SLEEP_SEC=0.2

# Интервалы обновления индикаторов (в количестве тиков).
# Значения по умолчанию: 1 / 3 / 5
INDICATOR_FAST_INTERVAL=1
INDICATOR_MEDIUM_INTERVAL=1
INDICATOR_HEAVY_INTERVAL=1

DATABASE_TYPE=postgresql
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/atrading
DB_SCHEMA=main
POSTGRES_DB=atrading
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

EXCHANGE_TESTNET=true

EXCHANGE_API_KEY=secure_api_keys/binance/api_key.txt
EXCHANGE_API_SECRET=secure_api_keys/binance/id_ed25519.pem

BUY_ORDER_TIMEOUT_SEC=60
# когда есть открытые ордера
ORDER_SYNC_INTERVAL_SECONDS=1
# когда открытых нет
ORDER_SYNC_IDLE_INTERVAL_SECONDS=30
